

.policeboy{
    display: flex;
    width: 96%;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
}
.policeyuan{
    display: flex;
    width: 6%;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:center;
    text-align: center;
    color: #fff;
}
.policeyuan>div{
    margin: 0 auto;
    width: 40px;
    height:40px;
    line-height: 40px;
    background: #2980F3;
    border-radius: 50%;

}
.policelist{
    display: flex;
    width: 94%;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:space-between;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    border: 1px #999 solid;
}

.policeline{
    width: 100%;
    height:8px;
    background: #2980F3;
}
.policecon{
    display: flex;
    width: 100%;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
    box-sizing: border-box;
   color: #444;
   background: #fff !important;
}
.policeinf{
     width: 75%; 
    padding:10px;
}
.pol{
    width: 100%;
    height: 32px;
    line-height: 32px;
}
.policeimg{
    height:inherit;
    width: 25%;
    padding: 10px;
}
.policeimg>img{
    width:96%;
    height: 100%;
    float: right;
}
.poltop{
    margin-bottom: 20px;
}
.dashed{
    border-top: 1px dashed #888;
    padding-top: 10px;
}
.powercolor{
    color:#000;
}

.AlarmDetail {
  max-width: 1300px;
  padding: 20px;
}
.AlarmDetail .reportinf{
    display: flex;
    width: 96%;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #666;
    color: #444;
   background: #fff !important;
}
.AlarmDetail .reportleft{
   width: 16%;
   height: auto;
   background: #90CDFD;
   color: #fff;
}
.AlarmDetail .reportright{
    width: 84%;
    height: auto;
    padding-left: 10px;
}
.reportright .report,.reportright .report{
    line-height:38px;
}
.reportleft_img{
    padding:10px 0;
    width:50%;
    height:auto;
    margin: 0 auto;
}
.reportleft_text{
    width:100%;
    text-align: center;
}
.reportleft_img>img{
    width:100%;
    height:auto;
}

.handle{
    margin-top: 10px;
}
.w{
    display:block;
    width:auto;
}
.describe{
    width:60%;
    height:100px;
    float: left;
    border: 1px solid #D3D3D3;
    margin: 6px 0 20px 0;
    padding:0 10px;
}
.floatleft{
    float: left;
}
.polinp{
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.rig{
    display: block;
    width:10%;
    float: left;
    text-align: right;
    font-weight: 600;
}
.rigvalue{
    display: block;
    width:84%;
    float: left;
}
.march{
    margin-top: 10px;
}
.polTimeline{
    margin-top: 20px;
}
.linetime{
    font-weight: 600;
    color:#000;
}
.linetext{
    color:#555;
}

.policeboy>.underline{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
    box-sizing: border-box;
}
.iphone{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);		/* IE 9 */
    -webkit-transform: rotate(180deg);	/* Safari and Chrome */
    -o-transform: rotate(180deg);		/* Opera */
    -moz-transform: rotate(180deg);		/* Firefox */
}
.reportImg{
    width: 70%;
    margin: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}
.reportImgLeft,.reportImgRight{
    padding:15px;
}
.reportImgLeft img,.reportImgRight img{
    width: 100%;
    height: 100%;
}