.homeIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.homeIndex .details {
    padding: 5px 20px;
}

.details .ant-progress-circle .ant-progress-inner {
    background-color: #b4ffd7;
}

.homeIndex .detailsName {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.homeIndex .homeIndex-left {
    width: 78%;
    background: #fff;
}

.homeIndex .homeIndex-right {
    height: 100%;
    width: 22%;
    border: 1px solid #D8D8D8;
    background: #fff;
}



.homeIndex .newestAlarm {
    padding: 20px;
}

.homeIndex .newestAlarm img {
    width: 100%;
    height: 100%;
}

.homeIndex .newestName {
    text-align: center;
}

.homeIndex .rightPoliceWrap {
    box-sizing: border-box;
    padding: 20px;
    height: 66%;
}

.homeIndex .garden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.homeIndex .detailsName {
    font-size: 16px;
}

.homeIndex .rightPolice {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.homeIndex .policeStatistics {
    float: left;
    margin-left: 20px;
    font-weight: bolder;
}

.homeIndex .numberAlarm {
    float: right;
    margin-right: 30px;
}

.homeIndex .number {
    color: red;
    font-weight: bolder;
}

.homeIndex .titleHomeIndex {
    padding-left: 20px;
    font-weight: bolder;
    font-size: 18px;
}

.homeIndex .newAlarmTit {
    font-size: 16px;
    text-align: center;
    color: #000;
}

.homeIndex .alarmTit {
    font-weight: bolder;
    font-size: 18px;
    margin: 0 !important;
}


.homeIndex .leftNewest {
    border: 1px solid #D8D8D8;
}

.homeIndex .rightDevice {
    height: 34%;
    width: 100%;
    box-sizing: border-box
}

.homeIndex .deviceWrap {
    width: 100%;
    height: 82%;
    position: relative;
}



.homeIndex .echarts-for-react {
    height: 100%;
}