.homeIndex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.homeIndex img {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.statistic {
    position: absolute;
    z-index: 1000;

    top: 20px;
    left: 20px;
    width: 35%;
    box-sizing: border-box;
    height: 100px;
    /* border: 1px solid red;*/
    display: flex;
    flex-flow: row nowrap;
}

.statcol {
    background: #fff;
    box-sizing: border-box;
    width: 33%;
    height: 100%;
    padding: 10px;
    color: #222;
}

.statit {
    font-size: 16px;
}

.statval {
    font-size: 20px;
}

.origdata1,
.origdata2,
.origdata3 {
    margin-left: 30px;

}

.origdata1 {
    color: #10bcdc;
}

.origdata2 {
    color: #ff0101;
}

.origdata3 {
    color: #4088f9;
}

.statcol:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}

.topMap {
    height: 66%;
}

.newAlarm {
    height: 34%;
}

.homeIndex .newAlarmTit {
    font-size: 14px;
    text-align: left;
    color: #222;
    padding: 5px;
}

.newAlarmImg {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1441px) {
    .statit {
        font-size: 14px;
    }

    .statistic {
        width: 36%;
        height: 70px;
    }

    .statcol {
        width: 25%;
    }

    .statcol:nth-child(3) {
        width: 35%;
    }
}

@media screen and (max-width: 1367px) {
    .statit {
        font-size: 14px;
    }

    .statistic {
        width: 38%;
        height: 70px;
    }

    .statcol {
        width: 25%;
    }

    .statcol:nth-child(3) {
        width: 35%;
    }
}