.elli {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.shortVideo {
  padding: 20px;
  background: #2b3355;
  height: 100%;
  overflow-y: auto;
}

.shortVideo img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.vidwrap {
  padding: 5px;
  height: 280px;
  border: 1px solid #ccc;
}

.videotit {
  position: absolute;
  bottom: 5px;
  right: 7px;
  background: rgba(0, 0, 0, .5);
  width: calc(96% + 3px);
  padding: 4px;
  color: #fff;
}

.arrowbtn {
  position: absolute;
  right: 10px;
  top: 8px;
}

@media screen and (min-width: 1600px) {
  .videotit {
    right: auto;
    width: calc(96% + 1px);
  }

  .vidwrap {
    height: 192px;
  }

}