.pageSize{
    width:100%;
    text-align:center;
}
.cz{
    margin-top: 5px;
    width: auto;
}
.lxr{
    margin-left: 19px;
}
.top{
    margin-top: 15px;
}
.wd{
    /*margin-left: -5px!important;*/
}
.jd{
    margin-left: -6px!important;
}
.syequ{
    /*margin-left: -70px;*/
}